@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato/Lato-Hairline.ttf') format('truetype');
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300; }

body {
  background: url('../assets/img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.login .panel-default {
  opacity: 0.93;
  margin-top: 30px; }
.login .form-group.last {
  margin-bottom: 0px; }
.login .panel-hxf-heading {
  background-color: #ADFF2F; }
.login .panel-hxf-footer {
  font-weight: 300; }
.login .title-hxf {
  font-family: Lato;
  font-size: 80px;
  font-weight: 100;
  color: #fff; }
.login .title-hxf-bold {
  font-family: Lato;
  font-weight: 300; }
.login .wrong-hxf {
  font-size: 10px;
  color: #f00; }
.login a:link {
  text-decoration: none; }
.login a:active {
  text-decoration: none; }
.login a:visited {
  text-decoration: none; }
.login a:hover {
  text-decoration: none; }
