
body {
    background: url('../assets/img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-default {
    opacity: 0.93;
    margin-top:30px;
}
.form-group.last {
    margin-bottom:0px;
}

.login {
    .panel-hxf-heading {
      background-color: #ADFF2F;
    }
    .panel-hxf-footer {
        // needs latest Compass, add '@import "compass"' to your scss
        //@include background-image(linear-gradient(left,  #1e5799 0%,#aa3895 100%));

        font-weight: 300;
    }
}
