@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

body {
    background: url('../assets/img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-default {
    opacity: 0.93;
    margin-top:30px;
}
.form-group.last {
    margin-bottom:0px;
}

.login {
    .panel-hxf-heading {
      background-color: #ADFF2F;
    }
    .panel-hxf-footer {
        // needs latest Compass, add '@import "compass"' to your scss
        //@include background-image(linear-gradient(left,  #1e5799 0%,#aa3895 100%));

        font-weight: 300;
    }
    .title-hxf {
        font-family: Lato;
        font-size: 80px;
        font-weight: 100;
        color: #fff;
    }
    .title-hxf-bold {
        font-family: Lato;
        font-weight: 300;
    }
    a:link {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
}
